## Probe configuration
## ----------------------------------------
[probe]
pin: probe_pin
x_offset: 0
y_offset: 25.0 

speed: 10.0
samples: 3
samples_result: median
sample_retract_dist: 3.0
samples_tolerance: 0.006
samples_tolerance_retries: 4
