## Miscellaneous temperature monitors
## ----------------------------------------
[temperature_sensor RPi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100


[temperature_sensor mcu_temp]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100
